<div class="container mx-auto">
    <%- include('./partials/messages.ejs') %>
        <h1 class="text-4xl text-gray-700 font-bold  mt-8 max-md:ml-4 max-sm:text-2xl">Dashboard</h1>
        <h2 class="text-xl text-gray-700 font-bold mt-4 max-md:ml-6 max-sm:text-base">Welcome <%= user.username %>
        </h2>
        <h3 class="text-lg max-sm:text-base font-bold mt-2  max-md:ml-6">Membership Status:
            <span class="text-green-500
            font-normal text-sm max-md:ml-2
            ">
                <%= membership ? "Active" : "Inactive" %>
            </span>
        </h3>


        <div class="my-4 
        max-md:ml-6 max-sm:text-sm max-sm:mt-2
        ">
            <% if (!membership) { %>
                <a href="/dashboard/membership"
                    class="mr-2 bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Membership</a>
                <% } else{ %>
                    <a href="/dashboard/admin"
                        class="mr-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        An admin </a>
                    <% } %>


                        <button
                            class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                            <a href="/dashboard/createPost">Create
                                Post
                            </a>
                        </button>

                        <button
                            class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                            <a href='/logout'>Logout</a>
                        </button>
        </div>

        <div class="mt-8 divide-y ">

            <h3 class="text-lg font-bold  max-md:ml-8">Your Posts</h3>
            <h4 class="text-sm text-gray-500"></h4>

        </div>
        <div class="mt-8">
            <% if (typeof userPosts !="undefined" && userPosts.length> 0) { %>
                <div class="space-y-6">
                    <% userPosts.forEach(function(post) { %>
                        <div class="border p-4 rounded-md max-w-xl mx-auto max-md:mx-6 max-sm:text-sm">
                            <div class="flex items-center">
                                <img src="<%= userAvatar %>" alt="avatar" class="w-12 h-12 object-cover rounded-full">
                                <div class="flex flex-col justify-center ml-4">
                                    <h3 class="font-bold text-md">
                                        <%= user.username %>
                                    </h3>
                                    <small>
                                        <%= post.postedTime %>
                                    </small>
                                </div>
                            </div>

                            <h2 class="text-xl font-bold mt-4">
                                <%= post.title %>
                            </h2>
                            <p class="mt-2">
                                <%= post.content %>
                            </p>

                            <% if (user && user.admin) { %>
                                <form action="/deletePost" method="post">
                                    <input type="hidden" name="postId" value="<%= post._id %>">
                                    <button type="submit"
                                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </form>
                                <% } %>
                        </div>
                        <% }); %>
                </div>
                <% } else { %>
                    <h2 class="text-xl font-bold text-center mt-8">No posts yet</h2>
                    <% } %>
        </div>

</div>