<div class="container mx-auto">
    <%- include('./partials/messages.ejs') %>
        <h1 class="text-4xl text-gray-700 font-bold  mt-8">Dashboard</h1>
        <h2 class="text-xl text-gray-700 font-bold mt-4">Welcome <%= user.username %>
        </h2>
        <h3 class="text-lg font-bold mt-4">Membership Status</h3>
        <h4 class="text-sm text-gray-500">Membership: <%= membership ? "Active" : "Inactive" %>
        </h4>
        <div class="mt-8 divide-y">

            <h3 class="text-lg font-bold">Your Posts</h3>
            <h4 class="text-sm text-gray-500"></h4>

        </div>
        <div class="mt-8">
            <% if (typeof userPosts !="undefined" && userPosts.length> 0) { %>
                <div class="space-y-6">
                    <% userPosts.forEach(function(post) { %>
                        <div class="border p-4 rounded-md max-w-xl mx-auto">
                            <div class="flex items-center">
                                <img src="<%= userAvatar %>" alt="avatar" class="w-12 h-12 object-cover rounded-full">
                                <div class="flex flex-col justify-center ml-4">
                                    <h3 class="font-bold text-md">
                                        <%= user.username %>
                                    </h3>
                                    <small>
                                        <%= post.postedTime %>
                                    </small>
                                </div>
                            </div>

                            <h2 class="text-xl font-bold mt-4">
                                <%= post.title %>
                            </h2>
                            <p class="mt-2">
                                <%= post.content %>
                            </p>

                        </div>
                        <% }); %>
                </div>
                <% } else { %>
                    <h2 class="text-xl font-bold text-center mt-8">No posts yet</h2>
                    <% } %>
        </div>

        <div class="mt-8">
            <% if (!membership) { %>
                <a href="/dashboard/membership"
                    class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Membership</a>
                <% } %>
        </div>


        <div class="mt-8">
            <a href="/dashboard/createPost"
                class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create
                Post</a>
            <button
                class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                <a href='/logout'>Logout</a>
            </button>
        </div>
</div>