<div class="container mx-auto">
  <h1 class="text-4xl text-gray-700 font-bold text-center mt-8 max-sm:text-2xl">Posts</h1>
  <div class="mt-8 mb-8">
    <% if (typeof allPosts !="undefined" && allPosts.length> 0) { %>
      <div class="space-y-6">
        <% allPosts.forEach(function(post) { %>
          <div class="border p-4 rounded-md max-w-xl mx-auto max-md:mx-6">
            <div class="flex items-center">
              <img src="<%= userAvatar %>" alt="avatar" class="w-12 h-12 object-cover rounded-full">
              <% if (user && membership) { %>
                <div class="flex flex-col justify-center ml-4 ">
                  <h3 class="font-bold text-md">
                    <%= post.user.username %>
                  </h3>
                  <small>
                    <%= post.postedTime %>
                  </small>
                </div>
                <% } else { %>
                  <div class="flex flex-col justify-center ml-4">
                    <h3 class="font-bold text-md">
                      <% if (user && user.username===post.user.username) { %>
                        <%= user.username %>
                          <% } else { %>
                            Anonymous
                            <% } %>
                    </h3>
                    <p class="text-xs">Membership required to view user</p>
                    </small>
                  </div>
                  <% } %>
            </div>

            <h2 class="text-xl font-bold mt-4 max-sm:text-lg">
              <%= post.title %>
            </h2>
            <p class="mt-2 max-sm:text-sm ">
              <%= post.content %>
            </p>

            <% if (user && user.admin) { %>
              <form action="/deletePost" method="post">
                <input type="hidden" name="postId" value="<%= post._id %>">
                <button type="submit"
                  class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4">
                  <i class="fa-solid fa-trash-can"></i>
                </button>
              </form>
              <% } %>
          </div>
          <% }); %>
      </div>
      <% } else { %>
        <h2 class="text-xl font-bold text-center mt-8">No posts yet</h2>
        <% } %>
  </div>
</div>